/* Homepage */
.home{
    max-width: 1000px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 50px; 
    margin: 0px 300px ;
}

.item-home {
    justify-content: center;
    cursor: pointer;
    color: black;
    padding: 0.85em;
    /* background: #9dc2e7;  */
    /* border: solid 1px rgba(110,133,156,0.15); */
    border-radius: 0.3em;
}

.home-images{
    width: 100%;
    margin: 1px;
    padding: 10px;
    align-items: center;
}


/* iPhone Page */
.grid{
    max-width: 1000px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 520px 500px;
    grid-gap: 80px; 
    grid-auto-flow: minmax();
    margin: 45px auto;
}

.item {
    cursor: pointer;
    color: black;
    padding: 0.85em;
    /* background: #9dc2e7; */
    /* border: solid 1px rgba(110,133,156,0.15); */
    border-radius: 0.3em;
}

.grid-images{
    width: 100%;
    margin: 1px;
    padding: 10px;
}

@media screen and (min-width: 100px) {
  article {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .text:nth-of-type(3) {
      grid-column: 2;
      grid-row: 2;
  
  }
  .img, .text {
    height: 20vh;
    overflow: hidden;
  
    }
  
}