
  #quiz-intro{
    text-align: center;
    font-size: 1rem;
    padding: 5%;
  }

  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid ;
    background-color: #A5CEEC;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(70, 69, 69);
    outline: none;
  }
  
  .btn:hover {
    border: solid black;
  }
  
  .btn.correct {
    background-color: green;
    color: white;
  }
  
  .btn.wrong {
    background-color: red;
    color: white;
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

  